tshirt-webservice-consumer/src/main/app/tshirt-service-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<ws:consumer-config name="Web_Service_Consumer"
		wsdlLocation="C:\Users\studio\AnypointStudio\workspace-clean-2\tshirt-service-consumer\src\main\resources\tshirt.wsdl.xml"
		service="TshirtService" port="TshirtServicePort" serviceAddress="http://tshirt-service.cloudhub.io"
		doc:name="Web Service Consumer" />
	<data-mapper:config name="xml_listinventoryresponse__to_json"
		transformationGraphPath="xml_listinventoryresponse__to_json.grf"
		doc:name="xml_listinventoryresponse__to_json" />
	<data-mapper:config name="json_to_xml_ordertshirt_"
		transformationGraphPath="json_to_xml_ordertshirt_.grf" doc:name="json_to_xml_ordertshirt_" />
	<data-mapper:config name="xml_ordertshirtresponse__to_json"
		transformationGraphPath="xml_ordertshirtresponse__to_json.grf"
		doc:name="xml_ordertshirtresponse__to_json" />
	<data-mapper:config name="string_to_xml_authenticationheader_"
		transformationGraphPath="string_to_xml_authenticationheader_.grf"
		doc:name="string_to_xml_authenticationheader_" />

	<flow name="orderTshirt" doc:name="orderTshirt">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8001" path="orders" doc:name="HTTP" />
		<data-mapper:transform config-ref="json_to_xml_ordertshirt_"
			doc:name="JSON To Xml&lt;OrderTshirt&gt;" />
		<set-variable variableName="apiKey" value="#['abc12345']"
			doc:name="Set API Key" />
		<data-mapper:transform config-ref="string_to_xml_authenticationheader_"
			input-ref="#[flowVars[&quot;apiKey&quot;]]" target="#[message.outboundProperties[&quot;soap.header&quot;]]"
			doc:name="String To Xml&lt;AuthenticationHeader&gt;" />
		<ws:consumer config-ref="Web_Service_Consumer" operation="OrderTshirt"
			doc:name="Order Tshirt" />
		<data-mapper:transform config-ref="xml_ordertshirtresponse__to_json"
			doc:name="Xml&lt;OrderTshirtResponse&gt; To JSON" returnClass="java.lang.String" />
		<http:response-builder contentType="application/json"
			doc:name="HTTP Response Builder" status="200" />
	</flow>
	<flow name="listInventory" doc:name="listInventory">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8001" path="inventory" doc:name="HTTP" />
		<ws:consumer config-ref="Web_Service_Consumer" operation="ListInventory"
			doc:name="List Inventory" />
		<data-mapper:transform config-ref="xml_listinventoryresponse__to_json"
			returnClass="java.lang.String" doc:name="Xml&lt;ListInventoryResponse&gt; To JSON" />
		<http:response-builder contentType="application/json"
			doc:name="HTTP Response Builder" status="200" />
	</flow>
</mule>
